<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tweets - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.css" />
    <link rel="stylesheet" href="~/lib/ionicons-min/css/ionicons.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="slds-grid slds-grid_frame slds-wrap">
        @RenderBody()
    </div>
</body>
</html>
