<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tweets - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
