
@{
    ViewData["Title"] = "Feed Reader";
}
<div class="slds-container_fluid">
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <h1 class="slds-text-heading_large">
                        Hello @ViewBag.UserName,
                    </h1>
                </div>
            </header>
            <div class="slds-no-flex">
                <form action="/Account/Logout" method="post">
                    <button type="submit" class="slds-button slds-button_neutral slds-align_absolute-center" >
                        <i class="ion-log-out tweets-icon-medium slds-p-right_small"></i>
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <div class="slds-card__body">
            <ul class="slds-card__body_inner slds-grid slds-wrap slds-grid_pull-padded">
                <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-2">
                    <div class="slds-form-element">
                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                            <form id="FilterTweet" class="slds-grid slds-form--inline">
                                <div class="slds-form-element">
                                    <label class="slds-form-element__label" for="tweetfilter">Filter tweets containing</label>
                                    <div class="slds-form-element__control">
                                        <input type="text" id="tweetfilter" class="slds-input" placeholder="Enter a search string." />
                                    </div>
                                </div>
                                <div class="slds-form-element">
                                    <button type="submit" id="tweetfilterbutton" class="slds-button slds-button--brand">FILTER</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_1-of-2">
                    <p class="slds-text-body_small">Most recent 10 tweets from @@salesforce are displayed in the feed.</p>
                    <p class="slds-text-body_small">Tweets are refreshed every 60 seconds.</p>
                    <p class="slds-text-body_small">You can filter the tweets in the feed by entering a text and clicking on filter button.</p>
                </li>
            </ul>
        </div>
        <footer class="slds-card__footer"></footer>
    </article>
</div>

<div class="slds-container_fluid">
    <div class="slds-feed slds-scrollable_y" style="height:90vh;">
        <ul class="slds-feed__list" id="nu-tweets-container">
            
        </ul>
    </div>
</div>
@section scripts{
    <script src="~/js/app.js"></script>
    <!-- Templates-->
    <script type="text/template" id="nu-tweet-template">
        <li class="slds-feed__item slds-border_bottom">
            <article class="slds-post">
                <header class="slds-post__header slds-media">
                    <div class="slds-media__figure">
                        <a href="javascript:void(0);" class="slds-avatar slds-avatar_circle slds-avatar_large">
                            <img alt="<%= screenName %>" src="<%= profileImageUrl %>" title="<%= screenName %>" />
                        </a>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                            <p><a href="javascript:void(0);" title="<%= userName %>"><%= userName %></a></p>
                        </div>
                        <p class="slds-text-body_small"><a href="javascript:void(0);" title="Click for single-item view of this post" class="slds-text-link_reset">@@<%= screenName %></a></p>
                    </div>
                </header>
                <div class="slds-post__content slds-text-longform">
                    <img src="<%= mediaUrl %>" />
                    <p><%= fullText %></p>
                </div>
                <footer class="slds-post__footer">
                    <ul class="slds-post__footer-actions-list slds-list_horizontal">
                        <li class="slds-item slds-m-right--medium">Retweeted <%= retweetCount %> times</li>
                        <li class="slds-item">Tweeted on <%= tweetDate %></li>
                    </ul>
                </footer>
            </article>
        </li>
    </script>
}