
@{
    ViewData["Title"] = "Index";
}
<form method="post" action="/Account/ExternalSignin" class="slds-container_fluid">
    <button type="submit" class="slds-button slds-button--brand slds-align_absolute-center" name="provider" value="Twitter"> <i class="ion-social-twitter"></i> Signin with Twitter</button>
</form>